[Unit]
Description=NodeXchange's distributed currency daemon
After=network.target

[Service]
User=nodexchange
Group=nodexchange

Type=forking
PIDFile=/var/lib/nodexchanged/nodexchanged.pid

ExecStart=/usr/bin/nodexchanged -daemon -pid=/var/lib/nodexchanged/nodexchanged.pid \
          -conf=/etc/nodexchange/nodexchange.conf -datadir=/var/lib/nodexchanged

ExecStop=-/usr/bin/nodexchange-cli -conf=/etc/nodexchange/nodexchange.conf \
         -datadir=/var/lib/nodexchanged stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
